:root {
  --white: #ffffff;
  --black: #000000;

  --abbey: #46494f;
  --danube: #4e91c9;
  --silverSan: #b7bcbe;
  --tuna: #32353a;
  --dodgerBlue: #3399FF;
  --firefly: #091C28;
  --mineShaft: #333333;
  --blackHaze: #edeeee;

  --mantis: #66CC66;
  --kournikova: #FFE06D;
  --bittersweet: #FF7360;

  --frenchGray: #C7C7CD
}
